<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FilterApp2</display-name>
  <listener>
  	<listener-class>com.nt.listeners.ApplicationListener</listener-class>
  </listener>
  <filter>
  	<filter-name>reqCount</filter-name>
  	<filter-class>com.nt.filter.RequestCounterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>reqCount</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>check</filter-name>
  	<filter-class>com.nt.filter.CheckBrowserFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>check</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>